.last__section {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-top: 0;
}

.last__title {
  font-size: clamp(24px, 24px + 44 * (100vw - 375px) / 1065, 68px);
  font-family: 'Arsenal', sans-serif;
  max-width: 873px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .last__section {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .last__title {
    max-width: 312px;
  }
}